@page "/ClaimsASubmit"

@inject IJSRuntime JsRuntime
@inject AuthenticationDataAccess _authenticationDataAccess

@inherits ClaimsASubmitBase

@code {

    public bool isUserAuthenticated { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await OnDashboardLoad();
        isUserAuthenticated = JwtToken.IsUserAuthenticated;
    }

}

<NavBar JwtToken="@JwtToken" ActivateNav="navItemClaimA">
</NavBar>
<div class='container-fluid pt-2'>

    @if (isUserAuthenticated)
    {
        <div class="row">
            <div class="col-12">
                <EditForm Model="@CreateClaimsADTO.CreateClaims" OnValidSubmit="@OnCreateClaimAButtonClick">
                    <Card Class="">
                        <CardHeader Class="pt-1 pb-1 pl-2">
                            <div class="text-left ">
                                <h4 class="font-weight-normal mb-0">Create Claim-A</h4>
                            </div>
                        </CardHeader>
                        <CardBody Class="pt-1 pb-1 pl-1 pr-1">

                            <DataAnnotationsValidator />
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                                    <div class="form-label-group mb-2">
                                        <label for="inputInvoiceNumber">Invoice Number</label>
                                        <InputText id="inputInvoiceNumber" @bind-Value="@CreateClaimsADTO.CreateClaims.InvoiceNumber" Class="form-control" />

                                        <ValidationMessage For="@(() => CreateClaimsADTO.CreateClaims.InvoiceNumber)" Class="lead text-danger" />
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                                    <div class="form-label-group mb-2">
                                        <label for="inputProductId">Product Id</label>
                                        <InputNumber id="inputProductId" @bind-Value="@CreateClaimsADTO.CreateClaims.ProductId" Class="form-control" />

                                        <ValidationMessage For="@(() => CreateClaimsADTO.CreateClaims.ProductId)" Class="lead text-danger" />
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                                    <div class="form-label-group mb-3">
                                        <label for="inputQuantity">Quantity</label>
                                        <InputNumber id="inputQuantity" @bind-Value="@CreateClaimsADTO.CreateClaims.Quantity" Class="form-control" />

                                        <ValidationMessage For="@(() => CreateClaimsADTO.CreateClaims.Quantity)" Class="lead text-danger" />
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                                    <div class="form-label-group mb-3">
                                        <label for="inputProductCost">Product Cost</label>

                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">$</div>
                                            </div>
                                            <InputNumber id="inputProductCost" @bind-Value="@CreateClaimsADTO.CreateClaims.ProductCost" Class="form-control" />
                                            <div class="input-group-append">
                                                <div class="input-group-text">x @CreateClaimsADTO.CreateClaims.Quantity =  $@CreateClaimsADTO.CreateClaims.ProductTotalCost</div>
                                            </div>
                                            <ValidationMessage For="@(() => CreateClaimsADTO.CreateClaims.ProductCost)" Class="lead text-danger" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                                    <div class="form-label-group mb-3">
                                        <label for="inputReasonId">Claim Reason</label>
                                        <InputSelect id="inputReasonId" @bind-Value="@CreateClaimsADTO.CreateClaims.ReasonId" Class="form-control">
                                            <option value="">--Select--</option>
                                            <option value="1">Exploration</option>
                                            <option value="2">Diplomacy</option>
                                            <option value="3">Defense</option>
                                        </InputSelect>
                                        <ValidationMessage For="@(() => CreateClaimsADTO.CreateClaims.ReasonId)" Class="lead text-danger" />
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                                    <div class="form-label-group mb-3">
                                        <label for="inputComments">Comments</label>
                                        <InputTextArea id="inputComments" @bind-Value="@CreateClaimsADTO.CreateClaims.Comments" Class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </CardBody>
                        <CardFooter Class="pt-2 pb-2 pl-2 pr-2">
                            <div class="form-label-group text-right">
                                <button class="btn btn-primary  mr-2" type="submit">
                                    <Icon Class="pr-1" Name="@("fas fa-plus")" />    Add
                                </button>

                                <button class="btn btn-secondary" type="button" @onclick="@(async () => await OnAddClaimAClearButtonClick())">
                                    <Icon Class="pr-1" Name="@("fas fa-redo")" />    Clear
                                </button>
                            </div>
                        </CardFooter>
                    </Card>
                </EditForm>
            </div>
        </div>

        <div class="row pt-2">
            <div class="col-12">
                <Card Class="">
                    <CardHeader Class="pt-1 pb-1 pl-2 pr-2">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                <h4 class="font-weight-normal mb-0">Added Claim Items</h4>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-9 col-xl-9 text-right">
                                <button class="btn btn-primary" type="button" @onclick="@(async () => await OnAddClaimAClearButtonClick())">
                                    <Icon Class="pr-1" Name="@("fas fa-paper-plane")" />    Submit
                                </button>
                            </div>
                        </div>
                    </CardHeader>

                    <CardBody Class="pt-1 pb-1 pl-1 pr-1">
                        @if (ClaimsAdded == null)
                        {
                            <p><em>Loading...</em></p>
                        }
                        else if (!ClaimsAdded.Any())
                        {
                            <p><em>No Claim-A Items added.  Please add some.</em></p>
                        }
                        else
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Invoice Number</th>
                                        <th>Product Id</th>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                        <th>Product Cost</th>
                                        <th>Claim Reason</th>
                                        <th>Comments</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ClaimsAdded)
                                    {
                                        <tr>
                                            <td>@item.InvoiceNumber</td>
                                            <td>@item.ProductId</td>
                                            <td></td>
                                            <td>@item.Quantity</td>
                                            <td>@item.ProductCost</td>

                                            <td>@item.ReasonId</td>
                                            <td>@item.Comments</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </CardBody>
                </Card>
            </div>
        </div>

    }
</div>