@page "/Register"
@using FluentValidation.Resources
@using ResourceModel.Authentication

@inherits RegisterUserBase
<NavBar JwtToken="@JwtToken" ActivateNav="navItemRegister">
</NavBar>
<div class='container-fluid pt-1'>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <EditForm Model="@RegisterUser" OnValidSubmit="@OnRegisterUserButtonClick">
                <DataAnnotationsValidator />

                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                </div>

                <div class="form-label-group mb-2">
                    <label for="inputUserName">User Name</label>
                    <TextEdit Placeholder="" @bind-Text="@RegisterUser.UserName" Class="form-control" />
                    <ValidationMessage For="@(() => RegisterUser.UserName)" />
                </div>

                <div class="form-label-group mb-2">
                    <label for="inputUserName">Email Id</label>
                    <TextEdit Placeholder="" @bind-Text="@RegisterUser.Email" Class="form-control" />
                    <ValidationMessage For="@(() => RegisterUser.Email)" />
                </div>

                <div class="form-label-group mb-3">
                    <label for="inputPassword">Password</label>
                    <InputText id="inputPassword" @bind-Value="@RegisterUser.Password" Class="form-control" type="password" />
                    <ValidationMessage For="@(() => RegisterUser.Password)" />
                </div>

                <div class="form-label-group mb-3">
                    <label for="inputConfirmPassword">Confirm Password</label>
                    <InputText id="inputConfirmPassword" @bind-Value="@RegisterUser.ConfirmPassword" Class="form-control" type="password" />
                    <ValidationMessage For="@(() => RegisterUser.ConfirmPassword)" />
                </div>

                <div class="form-label-group mb-3 text-center">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>

            </EditForm>
        </div>
        <div class="col-md-4">

        </div>
    </div>


    @code {

        JwtToken JwtToken = new JwtToken();

    }


    <Modal @ref="ModalRef">
        <ModalBackdrop />
        <ModalContent IsCentered="true">
            <ModalHeader>
                <ModalTitle>Employee edit</ModalTitle>
                <CloseButton Clicked="@HideModal" />
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>Name</FieldLabel>
                    <TextEdit Placeholder="Enter name..." />
                </Field>
                <Field>
                    <FieldLabel>Surname</FieldLabel>
                    <TextEdit Placeholder="Enter surname..." />
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
                <Button Color="Color.Primary" Clicked="@HideModal">Save Changes</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>

</div>
