@page "/CreateEmployee"

@inherits CreateEmployeeBase

@inject IJSRuntime _jsRuntime

@code {
    protected override async Task OnInitializedAsync()
    {
        await _jsRuntime.InvokeVoidAsync("homeController.setActiveNavBar", "navItemEmployee");
        await OnCreateEmployeeLoad();
        await _jsRuntime.InvokeVoidAsync("homeController.hideLoadingIndicator", "");
    }
}
<NavMenu></NavMenu>

<div class='container-fluid pt-1'>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

            <EditForm Model="@EmployeeResModel" OnValidSubmit="@OnCreateEmployeeButtonClick">

                <Card Class="mt-3">
                    <CardHeader>
                        <div class="text-center">
                            <h1 class="h3 font-weight-normal">Create Employee</h1>
                        </div>
                    </CardHeader>
                    <CardBody Class="text-left">
                        <DataAnnotationsValidator /> <div class="row">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <div class="form-label-group mb-2">
                                    <label for="inputTitle">Title*</label>
                                    <InputSelect id="inputTitle" @bind-Value="@EmployeeResModel.Title" Class="form-control">
                                        <option value="">--Select Title--</option>

                                        @foreach (var item in EmployeeTitlesResModel)
                                        {
                                            <option value="@item.EmployeeTitleId">@item.EmployeeTitleDesc</option>
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="@(() => EmployeeResModel.Title)" Class="lead" />
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <div class="form-label-group mb-2">
                                    <label for="inputFirstName">First Name*</label>
                                    <InputText id="inputFirstName" @bind-Value="@EmployeeResModel.FirstName" Class="form-control" />
                                    <ValidationMessage For="@(() => EmployeeResModel.FirstName)" Class="lead" />
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <div class="form-label-group mb-2">
                                    <label for="inputLastName">Last Name*</label>
                                    <InputText id="inputLastName" @bind-Value="@EmployeeResModel.LastName" Class="form-control" />
                                    <ValidationMessage For="@(() => EmployeeResModel.LastName)" Class="lead" />
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <div class="form-label-group mb-2">
                                    <label for="inputPersonalEmail">Personal Email*</label>
                                    <InputText id="inputPersonalEmail" @bind-Value="@EmployeeResModel.PersonalEmail" Class="form-control" />
                                    <ValidationMessage For="@(() => EmployeeResModel.PersonalEmail)" Class="lead" />
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <div class="form-label-group mb-2">
                                    <label for="inputDOB">Date Of Birth*</label>
                                    <InputDate id="inputDOB" @bind-Value="@EmployeeResModel.DOB" Class="form-control" />
                                    <ValidationMessage For="@(() => EmployeeResModel.DOB)" Class="lead" />
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <div class="form-label-group mb-2">
                                    <label for="inputDOJ">Date Of Joining*</label>
                                    <InputDate id="inputDOJ" @bind-Value="@EmployeeResModel.DOJ" Class="form-control" />
                                    <ValidationMessage For="@(() => EmployeeResModel.DOJ)" Class="lead" />
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <div class="form-label-group mb-2">
                                    <label for="inputComments">Comments</label>
                                    <InputTextArea id="inputComments" @bind-Value="@EmployeeResModel.Comments" Style="height:100px;" Class="form-control" />
                                    <ValidationMessage For="@(() => EmployeeResModel.Comments)" Class="lead" />
                                </div>
                            </div>
                        </div>
                    </CardBody>
                    <CardFooter>
                        <div class="form-label-group text-center">
                         
                            <button class="btn btn-primary  mr-2" type="submit">
                                <Icon Class="pr-1" Name="@("fas fa-user-plus")" />    Create
                            </button>

                            <button class="btn btn-secondary" type="button" @onclick="@(async () => await OnCleareCreateEmployeeButtonClick())">
                                <Icon Class="pr-1" Name="@("fas fa-redo-alt")" />    Clear
                            </button>
                        </div>
                    </CardFooter>
                </Card>
            </EditForm>
        </div>
    </div>
</div>