@page "/ProcessCreateEmployee/{EmployeeRequestIdStr}"

@inherits ProcessCreateEmployeeBase

@inject IJSRuntime _jsRuntime

@code {

    [Parameter]
    public string EmployeeRequestIdStr { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await _jsRuntime.InvokeVoidAsync("homeController.setActiveNavBar", "navItemApprovals");
        EmployeeRequestId = Convert.ToInt64(EmployeeRequestIdStr);
        await OnPendingApprovalsLoad();
        await _jsRuntime.InvokeVoidAsync("homeController.hideLoadingIndicator", "");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
    }
}
<NavMenu></NavMenu>
<div class='container-fluid pt-1'>
    <div class="row">
        <div class="col-12">
            <Card Class="">
                <CardHeader Class="pt-1 pb-1 pl-2 pr-2 text-center">
                    <h4 class="font-weight-normal mb-0">Employee's Pending Approvals</h4>
                </CardHeader>

                <CardBody Class="pt-0 pb-0 pl-0 pr-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-sm table-hover table-bordered pb-0">
                                    <thead class="bg-info" style="color:white">
                                        <tr>
                                            <th scope="col">Employee Id</th>
                                            <th scope="col">Request</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Title</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Personal Email</th>
                                            <th scope="col">DOB</th>
                                            <th scope="col">DOJ</th>
                                            <th scope="col">Is Active</th>
                                            <th scope="col">Created On</th>
                                            <th scope="col">Created By</th>
                                            <th scope="col">Comments</th>
                                        </tr>
                                    </thead>
                                    <tbody style="font-size: 14px;">

                                        @if (PendingApproval == null || PendingApproval.EmployeeRequestId == 0)
                                        {
                                            <tr>
                                                <td>
                                                    No pending approvals available. Please come again later.
                                                </td>
                                            </tr>
                                        }
                                        else

                                        {
                                            <tr>
                                                <td>
                                                    @PendingApproval.EmployeeId
                                                </td>
                                                <td>@PendingApproval.EmpAppOprStatusDesc</td>
                                                <td>@PendingApproval.EmpAppReqStatusDesc</td>
                                                <td>@PendingApproval.EmployeeTitleDesc</td>
                                                <td>@PendingApproval.FirstName</td>
                                                <td>@PendingApproval.LastName</td>
                                                <td>@PendingApproval.PersonalEmail</td>
                                                <td>@PendingApproval.DOB.Value.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</td>
                                                <td>@PendingApproval.DOJ.Value.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</td>
                                                <td>@PendingApproval.IsActive</td>
                                                <td>@PendingApproval.CreatedOn</td>
                                                <td>@PendingApproval.CreatedByName</td>
                                                <td>@PendingApproval.Comments</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center d-flex justify-content-end">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-label-group mb-2 text-left">
                                <label for="inputProcess">Comments*</label>
                                <textarea Class="form-control" rows="4" id="inputComments">
                             </textarea>
                            </div>
                            <div class="form-label-group mb-2 text-left">
                                <label for="inputProcess">Process*</label>
                                <select id="inputProcess" @bind="EmpAppReqStatusId" Class="form-control">
                                    <option value="">--Select--</option>
                                    <option value="Diplomacy">Diplomacy</option>
                                </select>
                            </div>
                            <button class="btn btn-secondary" type="button">
                                <Icon Class="pr-1" Name="@("far fa-save")" />    Submit
                            </button>
                        </div>
                    </div>
                </CardBody>
            </Card>
        </div>
    </div>
</div>